.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #543a24; /* dark brown */
  display: flex; /* Added flex display */
  align-items: center; /* Aligns items vertically center */
}

.navigation li {
  /* width: 100%; */

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation li:hover {
  background-color: #111;
  cursor: pointer;
}
/* Naprawić */
li.signin-button,
li.signup-button {
  margin-left: 10%; /* This pushes both buttons to the right */
  left: 600px;
}
